<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- Radio Beacons -->
    <node pkg="rms" name="radio_beacon_1" type="radio_beacon" output="screen"
        args="-id 1 -model quadrotor -x 50 -y 50 -z 0 -mean 0.0 -stddev 3.0 -range 100.0 -freq 1"/>

    <node pkg="rms" name="radio_beacon_2" type="radio_beacon" output="screen"
        args="-id 2 -model quadrotor -x -50 -y 50 -z 0 -mean 0.0 -stddev 3.0 -range 100.0 -freq 1"/>

    <node pkg="rms" name="radio_beacon_3" type="radio_beacon" output="screen"
        args="-id 3 -model quadrotor -x 50 -y -50 -z 0 -mean 0.0 -stddev 3.0 -range 100.0 -freq 1"/>

    <node pkg="rms" name="radio_beacon_4" type="radio_beacon" output="screen"
        args="-id 4 -model quadrotor -x -50 -y -50 -z 0 -mean 0.0 -stddev 3.0 -range 100.0 -freq 1"/>

    <!-- GPS Module -->
    <node pkg="rms" name="gps_module" type="gps_module" output="screen"
        args="-model quadrotor -meanx 0.0 -stddevx 4.0 -meany 0.0 -stddevy 4.0 -meanz 0.0 -stddevz 6.0 -freq 4"/>

    <!-- Height Sensor -->
    <node pkg="rms" name="height_sensor" type="height_sensor" output="screen"
        args="-model quadrotor -mean 0.0 -stddev 0.02 -freq 10"/>

    <!-- Drone control -->
    <node pkg="rms" name="drone_control" type="drone_control" output="screen"/>

    <arg name="debug" default="false" />
    <arg name="pause" default="false" />
    <arg name="world" default="$(find rms)/world/empty_world.world" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(arg world)" />
            <arg name="debug" value="$(arg debug)" />
            <arg name="paused" value="$(arg pause)" />
            <arg name="use_sim_time" value="true" />
    </include>
</launch>